<CardComponent Title="Room temperature">
    @if (Temperature is not null)
    {
        <div class="row inside">
            <div class="col-12 col-sm">
                <h4><b>@Temperature.Celsius°C</b></h4>
            </div>
            <div class="col">
                <h5>@Temperature.Fahrenheit°F</h5>
            </div>
            <div class="col">
                <h5>@Temperature.Kelvin°K</h5>
            </div>
        </div>

        <FluentButton Appearance="Appearance.Accent" @onclick="GetTemperature">Refresh</FluentButton>

        @if (ShowThresholdSetting)
        {
            <hr>
            <label for="thresholdday_text">Temperature threshold (day):</label>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <input type="number" id="thresholdday_text" @bind-value="@Temperature.ThresholdDay" />
                        <span class="input-group-text">°C</span>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <FluentButton Appearance="Appearance.Outline" @onclick="() => SetTempThreshold(dayString)" style="margin-bottom:12px">
                        Set
                    </FluentButton>
                </div>
            </div>

            <label for="thresholdnight_text">Temperature threshold (night):</label>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <input type="number" id="thresholdnighz_text" @bind-value="@Temperature.ThresholdNight" />
                        <span class="input-group-text">°C</span>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <FluentButton Appearance="Appearance.Outline" @onclick="() => SetTempThreshold(nightString)" style="margin-bottom:12px">
                        Set
                    </FluentButton>
                </div>
            </div>

            <label for="thresholdnight_text">Temperature threshold (summer fan):</label>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <input type="number" id="thresholdnighz_text" @bind-value="@Temperature.FanThreshold" />
                        <span class="input-group-text">°C</span>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <FluentButton Appearance="Appearance.Outline" @onclick="() => SetTempThreshold(fanString)" style="margin-bottom:12px">
                        Set
                    </FluentButton>
                </div>
            </div>
        }
    }
    else
    {
        <FluentProgressRing style="width: 62px;height: 62px; margin:0 auto"></FluentProgressRing>

        <FluentSkeleton Shape="Shape.Rect" style="width:70px;height:30px;margin-bottom:10px;margin-top:6px" Shimmer="true" />
        
        @if (ShowThresholdSetting)
        {
            <hr>
            <FluentSkeleton Shape="Shape.Rect" style="width:205px;height:20px;margin-bottom:8px;margin-top:10px" Shimmer="true" />
            <div class="row">
                <div class="col">
                    <FluentSkeleton Shape="Shape.Rect" style="width:240px;height:40px;margin-bottom:20px" Shimmer="true" />
                </div>
                <div class="col-3">
                    <FluentSkeleton Shape="Shape.Rect" style="width:40px;height:30px;margin-bottom:20px" Shimmer="true" />
                </div>
            </div>

            <FluentSkeleton Shape="Shape.Rect" style="width:205px;height:20px;margin-bottom:8px" Shimmer="true" />
            <div class="row">
                <div class="col">
                    <FluentSkeleton Shape="Shape.Rect" style="width:240px;height:40px;margin-bottom:20px" Shimmer="true" />
                </div>
                <div class="col-3">
                    <FluentSkeleton Shape="Shape.Rect" style="width:40px;height:30px;margin-bottom:20px" Shimmer="true" />
                </div>
            </div>

            <FluentSkeleton Shape="Shape.Rect" style="width:205px;height:20px;margin-bottom:8px" Shimmer="true" />
            <div class="row">
                <div class="col">
                    <FluentSkeleton Shape="Shape.Rect" style="width:240px;height:40px;margin-bottom:15px" Shimmer="true" />
                </div>
                <div class="col-3">
                    <FluentSkeleton Shape="Shape.Rect" style="width:40px;height:30px;margin-bottom:15px" Shimmer="true" />
                </div>
            </div>
        }
    }
</CardComponent>
