@typeparam TLightModel

<CardComponent>
    @if (Light is not null)
    {
        <div class="row">
            <div class="col-lg">
                <p>Power: <strong>@Light.Power</strong></p>
                <p>Brightness: <strong>@(@Light.Brightness)%</strong></p>
                <p>Color: (<strong>@Light.Color.Red, @Light.Color.Green, @Light.Color.Blue</strong>)</p>

                <div class="color-preview" style="background-color: rgb(@Light.Color.Red, @Light.Color.Green, @Light.Color.Blue);"></div>

                <button class="btn btn-primary" @onclick="Toggle">Toggle</button>
                <button class="btn btn-success" @onclick="TurnOn">Turn on</button>
                <button class="btn btn-danger" @onclick="TurnOff">Turn off</button>
            </div>
            <div class="col-lg">
                <!--ColorPicker-->
            </div>
        </div>
    }
    else
    {
        <p>Loading...</p>
    }
</CardComponent>
