@typeparam TLightModel

<CardComponent>
    @if (Light is not null)
    {
        <div class="row">
            <div class="col-7">
                <p>Power: <strong>@Light.Power</strong></p>
                <p>Brightness: <strong>@(@Light.Brightness)%</strong></p>
            </div>
            <div class="col">
                <FluentButton @onclick="Refresh" Appearance="Appearance.Outline" style="float:right">Refresh</FluentButton>
            </div>
        </div>

        <p>Color: (<strong>@Light.Color.Red, @Light.Color.Green, @Light.Color.Blue</strong>)</p>
        <div class="color-preview" style="background-color: rgb(@Light.Color.Red, @Light.Color.Green, @Light.Color.Blue);"></div>

        <FluentButton @onclick="Toggle" Appearance="Appearance.Accent">Toggle</FluentButton>
        <FluentButton @onclick="TurnOn">Turn on</FluentButton>
        <FluentButton @onclick="TurnOff">Turn off</FluentButton>
    }
    else
    {
        <FluentProgressRing style="width: 62px;height: 62px; margin:0 auto"></FluentProgressRing>
    }
</CardComponent>
